body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  font-family: "Lora", serif;
  background-image: url("../asset/background-weather.png");
  background-size: cover;
}

.title {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'raleway';
}

.title img {
  height: 80px;
  width: 120px;
  margin-bottom: 15px;
  object-fit: contain;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.title2 {
  display: flex;
}

.wthr {
  color: white;
  margin-right: 10px;
}

.frcst {
  background: linear-gradient(90deg,
      #38bdf8,
      #818cf8,
      #c084fc,
      #38bdf8);
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientMove 4s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h2 {
  color: white;
  font-family: 'raleway';
  font-weight: bold;
}

.card {
  color: white;
  padding: 2em;
  margin: 1em;
  border-style: solid;
  border-radius: 30px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 24px;
  background:
    linear-gradient(#080c1c, #080c1c) padding-box,
    linear-gradient(135deg, #b44cff, #4da3ff) border-box;
  font-family: 'raleway';
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search i {
  color: rgb(109, 109, 245);
  padding-left: 10px;
  font-size: x-large;
  cursor: pointer;
}

.search i:hover {
  color: rgb(255, 255, 255);
}

.searching {
  font-size: larger;
}

.search-bar {
  color: rgb(248, 248, 250);
  font-family: gruppo;
  font-size: large;
  font-weight: bold;
  background:
    linear-gradient(#080c1c, #080c1c) padding-box,
    linear-gradient(135deg, #b44cff, #4da3ff) border-box;
  border-radius: 30px;
  margin-left: 35px;
  padding: 0.4em 30px;
}

button:hover {
  background: #50bcee;
}

h1 .temp {
  margin: 0;
}

.description {
  font-size: xx-large;
}

.weather.loading {
  visibility: hidden;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Enter Your City..";
  color: white;
  text-align: center;
  align-items: center;
}

#datetime-container {
  font-family: 'raleway';
  font-size: 24px;
  color: #e2e2e2;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}

.footer {
  color: white;
  font-family: 'raleway';
}

@media screen and (max-width: 768px) {
  .card {
    width: 60%;
  }

  #datetime-container {
    font-size: 20px;
  }

  .search-bar {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.preloader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #0f172a;
  z-index: 9999;

  transition: opacity 0.6s ease, visibility 0.6s ease;
}

/* Hide preloader */
.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

/* Loader */
.loader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loader span {
  width: 12px;
  height: 12px;

  background: #38bdf8;
  border-radius: 50%;

  animation: bounce 1.2s infinite ease-in-out;
}

/* Delay each dot */
.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.15s;
}

.loader span:nth-child(3) {
  animation-delay: 0.3s;
}

/* Animation */
@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}